*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}

#outline{
    outline: red 5px solid;
    border: black 5px solid ;
    width: 500px;
}

.row{
    display: flex;
    margin: 4px 0;
}
.col-4{
    max-height:90vh;
    margin-right: 4px;
    width: 20vw;
    padding: 5px 0 5px 35px;
    color: white;
    flex-wrap: wrap;
    border-right: 2px groove;
    overflow-y: auto;
    box-shadow: 0px 3px 4px gray;
}

.col-4 ol li{ 
    font-size: larger;
    gap: 8px;
    color: rgb(44, 149, 255);
}

.col-4 ol li a{
    text-decoration: none;   
     color: rgb(44, 149, 255);

}

.col-4 ol li a:hover{
    color: rgb(65, 160, 255);
    text-decoration: underline;
    cursor: pointer;
} 

.col-4 ol{
    display: flex;
    flex-direction: column;
}

.col-8{
    min-height:90vh;
    border:1px groove gray;
    border-bottom: none;
    border-top: none;
    width: 80vw;
    padding: 5px;
    overflow-x: auto;
}

table,td,th{
    border: solid 2px black;
    border-collapse: collapse;
    text-align: center;
}

table th{
    height: 50px;
    background-color: aqua;
}

table tbody > :nth-child(even){
    background-color: blanchedalmond;
}

table tfoot{
    background: rgb(144, 249, 144);
}

table tbody tr:nth-child(odd){
    background-color: white;
}


footer{
    width: 100%;
    min-height: 200px;
    background:rgb(178, 255, 229);
    float:bottom    ;
}

.col-8 > *{
    margin: 30px 0;
}

.freams{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.freams iframe{
    background: rgb(255, 185, 185);
    padding: 10px;
}

.loading-box{
    background-color: lightblue;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:25px;
}

.loading{
    width: 400px;
    height: 40px;
    background-color: rgb(209, 209, 209);
    border-radius:45px;
    overflow: hidden;
    border: 3px solid white;
    position: relative;
}


.load{
    background:linear-gradient(to right, rgb(0, 93, 130), rgb(76, 204, 255));
    width:0;
    height:100%;
    text-align: center;
    transition: 1s;
    user-select: none;
}

/* Header */

header{
    background:rgb(91, 254, 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.darkmode{
    position: relative;
    right:5px;
    width:fit-content;  

    
}

.darkmode button{
    font-size:20px;
    background-color: rgba(128, 255, 238, 0.474);
    border: solid 1px;
    border-radius: 40px;
    padding: 0px 7px;
    cursor: pointer;
}
.darkmode button:active{
    background-color: black;
    color: white;
}




header ul{
    width: 60% ;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;    
}

header ul li{
    display: block;
    position: relative;
    width: 100%;
    height: 1005;
}

header ul li a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 20px 15px;
}

header ul li a:hover{
    background-color: black;
    color: white;
}

.dropDown{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.dropDown li{
    background-color: rgba(255, 255, 255, 0.886);
    margin: 5px 0;
}

header ul li:hover .dropDown{
    display: block;
}