*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background: linear-gradient(to right,rgb(0, 101, 141),rgb(168, 226, 249));
}

/* Header Part */   

header{
    background:rgba(255, 255, 255, 0.829);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.darkmode{
    position: relative;
    right:5px;
    width:fit-content;  

    
}

.darkmode button{
    font-size:20px;
    background-color: rgba(255, 255, 255, 0.474);
    border: solid 1px;
    border-radius: 40px;
    padding: 0px 7px;
    cursor: pointer;
}
.darkmode button:active{
    background-color: black;
    color: white;
}




header ul{
    width: 60% ;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;    
}

header ul li{
    display: block;
    position: relative;
    width: 100%;
    height: 1005;
}

header ul li a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 20px 15px;
}

header ul li a:hover{
    background-color: black;
    color: white;
}

.dropDown{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.dropDown li{
    background-color: rgba(255, 255, 255, 0.886);
    margin: 5px 0;
}

header ul li:hover .dropDown{
    display: block;
}

/* Login Form Container */

.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container{
    background:white;
    min-width: 330px;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 2px 2px 15px black;
}

.container h1{
    text-shadow: 1px 1px 5px black;
}

.form-control{
    position: relative;
    margin-top: 10px;
}

.form-control input{
    border: none;
    border-bottom: 1px solid black;
    outline:none;
    width: 100%;
    padding-right:35px;
    height: 20px;
    font-size:17px ;
}

.form-control i{
    position: absolute;
    left: 250px;
    bottom: 40px;
    cursor: pointer;
    font-size: 18px;
    width: fit-content;
}


.form-control a{
    text-align: start;
    color: black;
    display:block;
    margin-top: 10px;
    text-decoration: none;
    width: fit-content;

}

.form-control a:hover{
    text-decoration: underline;
    color: gray ;
}

.form-btn input{
    padding: 8px 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: linear-gradient(to right, black,black,rgb(252, 252, 252));
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-weight:800;
    margin-bottom: 15px;
}

.form-btn input:hover{
    
    background: linear-gradient(to left, black,black,rgb(252, 252, 252));
}

.form-btn a{
    text-decoration: none;
    color: black;
}

.form-btn a:hover{
    color: rgb(59, 59, 59);
    text-decoration: underline solid;
}