*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #00a985;
    background-color: linear-gradient( right,red,blue);
}

.container{
    background: #3b3f41;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #3b3f41;
}

.form-control{
    margin: 20px 0;

}

.form-control input{
    margin-bottom: 10px;   
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.form-control span{
    color: red;
}

.form-btn{
    display: flex;
    justify-content: center;
    margin: 15px 0;   
}

.form-btn button{
    width: 150px;
    height:30px;
    border-radius: 5px;
    border: none;
    outline: none;
    background:rgb(0, 125, 115);
    font-size:medium;
    font-weight: 400;
    color:white;
    transition-duration: .8s;
}

.form-btn button:hover{
    background-color: #6ffff1;
    color: rgb(0, 125, 115);
    cursor: pointer;
}

.acc-state{
    text-align: center;
}

a{
    text-decoration: none;
    color: #6fabff;
}

a:hover{ 
    text-decoration: underline;
}

.form-control > input:focus{
    background: rgb(215, 215, 215);
}

.acc-state a:active{
    color: green;
}


